<form class="{{elementClass}} vacancy-form" id="vacancy-form" method="POST" novalidate>
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="vacancy-form" elementName="position" inputName="position" inputCaption="Должность" inputType="text"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="vacancy-form" elementName="salary" inputName="salary" inputCaption="Заработная плата (в руб.)" inputType="numeric"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="vacancy-form" elementName="work-type" inputName="workType" inputCaption="Вид работы (к примеру разовая или постоянная)" inputType="text"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="vacancy-form" elementName="location" inputName="location" inputCaption="Город, где нужно будет работать" inputType="text"}}
    {{> ../FormInputs/ValidatedTextArea/validated-textarea.hbs formName="vacancy-form" elementName="description" inputName="description" inputCaption="Описание вакансии"}}
    {{> ../FormInputs/SelectInput/select-input.hbs name='positionGroup' elementClass='vacancy-form__group' caption='Категория'}}
    <div class="vacancy-form__button-container">
        {{#if isNew}}
        <button type="submit" class="vacancy-form__submit-button button button_main-primary">
            Создать
        </button>
        {{else}}
        <button type="submit" class="vacancy-form__submit-button button button_main-primary">
            Сохранить
        </button>
        {{/if}}
        <a class="vacancy-form__go-back-button button button_danger-tertiary" href="{{url "myProfile" ""}}">В профиль</a>
    </div>
</form>