<div id="worker-input">
    <!-- Блок ввода имени -->
    <div class='block form-group'>
        <label for='worker-name' class='text_roboto-regular'>Имя</label>
        <input type='text' id='worker-name' name='worker_name' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода фамилии -->
    <div class='block form-group'>
        <label for='worker-lastname' class='text_roboto-regular'>Фамилия</label>
        <input type='text' id='worker-lastname' name='worker_lastname' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода даты рождения -->
    <div class='block form-group'>
        <label for='worker-birthdate' class='text_roboto-regular'>Дата Рождения</label>
        <input type='date' id='worker-birthdate' name='worker_birthdate' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода email -->
    <div class='block form-group'>
        <label for='worker-email' class='text_roboto-regular'>Почта</label>
        <input type='email' id='worker-email' name='worker_email' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода пароля -->
    <div class='block form-group'>
        <label for='worker-password' class='text_roboto-regular'>Пароль</label>
        <input type='password' id='worker-password' name='worker_password' required class='input-elem text_roboto-light' />
    </div>
</div>
