.registration-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: var(--4-col);
  max-width: 425px;
  padding: 16px;
  margin-top: 16px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border-radius: var(--radius-m);

  &_theme-dark {
    background-color: var(--color-background-900);
  }

  &__header {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-main-100);
  }

  &__header-text {
    margin: 0;
  }

  &__user-type-select {
    margin-bottom: 20px;
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 16px;
  }

  &__registration-form {
    display: flex;
    flex-direction: column;
  }

  &__first-name {
    margin-bottom: 20px;
  }

  &__second-name {
    margin-bottom: 20px;
  }

  &__birthdate {
    margin-bottom: 20px;
  }

  &__email {
    margin-bottom: 20px;
  }

  &__password {
    margin-bottom: 20px;
  }

  &__password-repeat {
    margin-bottom: 20px;
  }

  &__position {
    margin-bottom: 20px;
  }

  &__company-name {
    margin-bottom: 20px;
  }

  &__company-description {
    margin-bottom: 20px;
  }

  &__website {
    margin-bottom: 20px;
  }
}
