.notification-box {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  left: 50%;
  bottom: 16px;
  width: calc(var(--5-col) - 32px);
  max-width: 425px;
  transform: translate(-50%);
  z-index: 1000;
  overflow-wrap: break-word;
  hyphens: auto;
}

.notification {
  &_error {
    background-color: var(--color-background-700);
    color: var(--color-secondary-support-400);
    font-size: var(--text-size-5);
    border-radius: var(--radius-m);
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &_ok {
    background-color: var(--color-background-700);
    color: var(--color-main-500);
    font-size: var(--text-size-5);
    border-radius: var(--radius-m);
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
