<div class='{{elementClass}} user-type-radiogroup'>
  <div class='user-type-radiogroup__applicant user-type-radiobutton user-type-radiobutton_checked'>
    <input
      type='radio'
      class='user-type-radiobutton__input'
      id='applicant'
      name='userType'
      value='applicant'
      checked
      required
    />
    <label for='applicant' class='user-type-radiobutton__label text_roboto-bold'>Соискатель</label>
  </div>
  <div class='user-type-radiogroup__employer user-type-radiobutton'>
    <input
      type='radio'
      class='user-type-radiobutton__input'
      id='employer'
      name='userType'
      value='employer'
      required
    />
    <label for='employer' class='user-type-radiobutton__label text_roboto-bold'>Работодатель</label>
  </div>
</div>