<div class="personal-info-box">
    {{> applicant-profile-form elementClass="personal-info-box__applicant-profile-form"}}
    {{> employer-profile-form elementClass="personal-info-box__employer-profile-form"}}
</div>