<div class='{{elementClass}} alert-window alert-window_theme-dark'>
  <div class='alert-window__text'>{{text}}</div>
  <a class='alert-window__button button button_main-primary' href='{{buttonUrl}}'>{{buttonText}}</a>
</div>