<form class="{{elementClass}} applicant-profile-form" id="applicant-profile-form" method="POST" novalidate>
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="applicant-profile-form" elementName="first-name" inputName="firstName" inputCaption="Имя" inputType="text"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="applicant-profile-form" elementName="second-name" inputName="secondName" inputCaption="Фамилия" inputType="text"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="applicant-profile-form" elementName="city" inputName="city" inputCaption="Город" inputType="text"}}
    {{> ../FormInputs/ValidatedTextArea/validated-textarea.hbs formName="applicant-profile-form" elementName="education" inputName="education" inputCaption="Образование"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="applicant-profile-form" elementName="birthdate" inputName="birthDate" inputCaption="Дата Рождения" inputType="date"}}
    {{> ../FormInputs/ValidatedTextArea/validated-textarea.hbs formName="applicant-profile-form" elementName="contacts" inputName="contacts" inputCaption="Контакты"}}
</form>