<label for="employer-name" class="labels text_roboto-bold">Имя</label>
<input id="employer-name" placeholder="Имя" class="input-elem text_roboto-light" />

<label for="employer-lastname" class="labels text_roboto-bold">Фамилия</label>
<input id="employer-lastname" placeholder="Фамилия" class="input-elem text_roboto-light" />

<label for="employer-position" class="labels text_roboto-bold">Должность</label>
<input id="employer-position" placeholder="Должность" class="input-elem text_roboto-light" />

<label for="company-name" class="labels text_roboto-bold">Название компании</label>
<input id="company-name" placeholder="Название компании" class="input-elem text_roboto-light" />

<label for="company-description" class="labels text_roboto-bold">Опишите чем занимается компания</label>
<textarea id="company-description" placeholder="Опишите чем занимается компания" class="input-elem text_roboto-light" style="resize: vertical; height: 3em"></textarea>

<label for="website" class="labels text_roboto-bold">Сайт компании</label>
<input id="website" placeholder="Сайт компании" class="input-elem text_roboto-light" />

<label for="wmployer-email" class="labels text_roboto-bold">Email</label>
<input type="email" id="wmployer-email" placeholder="Email" class="input-elem text_roboto-light" />

<label for="employer-password" class="labels text_roboto-bold">Пароль</label>
<input type="password" id="employer-password" placeholder="Пароль" class="input-elem text_roboto-light" />
