
{{> notification}}
<main class="login-page">
  <section class='login-container'>
    <header class='block header-block'>
      <h2 class='text_roboto-bold'>Вход в аккаунт</h2>
    </header>  
    {{> login-form}}
  </section>
</main>  |
