{{> header}}
<div class='vacancies-page vacancies-page_theme-dark'>
  <div class='vacancies-page__side-column ruler ruler_theme-dark ruler_direction-vertical'>
  </div>

  <div
    class='vacancies-page__content content-body content-body_theme-dark text_roboto-light'
  >
    <h1 class='content-body__header'>Вакансии на сегодня</h1>

    <div
      class='content-body__vacancy-container vacancy-container ruler ruler_theme-dark ruler_direction-vertical'
    ></div>
  </div>
</div>