<form class="{{elementClass}} login-form" method="POST" novalidate>
  {{> ../FormInputs/UserTypeRadiogroup/user-type-radiogroup.hbs elementClass="login-form__user-type-radiogroup"}}
  {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="login-form" elementName="email" inputName="email" inputCaption="Электронная почта" inputType="email"}}
  {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="login-form" elementName="password" inputName="password" inputCaption="Пароль" inputType="password"}}
  <div class="login-form__button-container">
    <button type="submit" class="login-form__button button button_main-primary">
        Войти
    </button>
    <a class="login-container__go-back-button button button_main-tertiary" href="{{url "vacancies" ""}}">На главную</a>
  </div>
</form>
      
