<div class="{{elementClass}} list">
    {{#if isOwner}}
    <div class='list_add-button-container'>
        <a class="list__add-button button button_main-primary" href="{{addHref}}">Добавить</a>
    </div>{{/if}}
</div>