<div class="cv-article__button-container">
{{#if isEmployer}}
    <a class="cv-article__another-button button button_main-secondary" href="{{url "profile" ""}}?id={{ownerId}}&userType=applicant&from=cvList">Другие резюме</a>
{{else}}
    {{#if isOwner}}
        <button type="button" class="cv-article__edit-button button button_main-primary">Изменить</button>
        <button type="button" class="cv-article__delete-button button button_danger-secondary {
">Удалить</button>
    {{/if}}
{{/if}}
<div class='cv-article__created-at'></div>
</div>