.alert-window {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_theme-dark {
    background-color: var(--color-background-800);
    color: var(--color-main-100);
  }

  &__text {
    font-size: var(--text-size-3);
  }

  &__header {
    font-size: var(--text-size-7);
    font-weight: var(--text-weight-bold);
    color: var(--color-main-100);
    margin: 0;
    text-align: center;
  }
}
