<form class="{{elementClass}} login-form" method="POST" novalidate>
  {{> user-type-radiogroup elementClass="login-form__user-type-radiogroup"}}
  {{> validated-input elementClass="login-form__email" inputCaption="Электронная почта" inputType="email"}}
  {{> validated-input elementClass="login-form__password" inputCaption="Пароль" inputType="password"}}
  <button type="submit" class="login-form__button button button_theme-dark-primary button_size-medium text_roboto-bold">
      Войти
  </button>
</form>
      
