<div>
  {{> header}}
  <div class="cv-page">
    <div class="cv-page__left-column">
    {{> profile-minicard elementClass="cv-page__profile-minicard"}}
    </div>
    <main class="cv-page__cv-container">
    </main>
  </div>
</div>