<div>
  {{> ../../Components/Header/header.hbs}}
  <div class="cv-page">
    <div class="cv-page__left-column">
    {{> ../../Components/ProfileMinicard/profile-minicard.hbs elementClass="cv-page__profile-minicard"}}
    </div>
    <main class="cv-page__cv-container">
    </main>
  </div>
</div>