<div class='{{elementClass}} alert-window alert-window_theme-dark'>
  <div class='alert-window__text text_roboto-regular'>{{text}}</div>
  <a
    class='alert-window__button button button_theme-dark-primary button_size-small text_roboto-bold'
    href='{{buttonUrl}}'
  >{{buttonText}}</a>
</div>