<div class="{{elementClass}} appliers-list">
    <h1 class="appliers-list__header">Откликнулись</h1>
    <div class="appliers-list__divider"></div>
    <ol class="appliers-list__list">
    </ol>
</div>