<div>
  {{> ../../Components/Header/header.hbs}}
  <div class="profile-page">
    <div class="profile-page__left-column">
    {{> ../../Components/ProfileMinicard/profile-minicard.hbs elementClass="profile-page__profile-minicard"}}
    </div>
    {{> ../../Components/FrameSeries/frame-series.hbs elementClass="profile-page__frame-series"}}
  </div>
</div>