<div>
  {{> header}}
  <div class="profile-page">
    <div class="profile-page__left-column">
    {{> profile-minicard elementClass="profile-page__profile-minicard"}}
    </div>
    {{> frame-series elementClass="profile-page__frame-series"}}
  </div>
</div>