<div>
  {{> ../../Components/Header/header.hbs}}
  <div class="cv-page-edit">
    <main class="cv-page-edit__form-container">
    <h1 class="cv-page-edit__header">{{#if isNew}}Создание{{else}}Редактирование{{/if}} резюме</h1>
    </main>
  </div>
</div>