{{> notification}} <!-- Включение компонента уведомления -->

<div class="registration-page">
<div class="ruler_theme-dark ruler_direction-vertical main-block registration-in">
  <h2 class="registration-h1 text_roboto-light">Регистрация</h2>
  
  <div class="block form-group user-type-group">
      <div class="user-type-column">
        <input type="radio" id="applicant" name="user_type" value="applicant" required="" />
        <label for="applicant" class="user-type-label text_roboto-regular">Соискатель</label>
      </div>
      <div class="user-type-column">
        <input type="radio" id="employer" name="user_type" value="employer" required="" />
        <label for="employer" class="user-type-label text_roboto-regular">Работодатель</label>
      </div>
  </div>


<!-- Поля для соискателя -->
  
  {{> applicant-form}} <!-- Вставляем форму для соискателя -->
        
<!-- Поля для работодателя -->
        
  {{> employer-form}} <!-- Вставляем форму для работодателя -->
        
  

  
  <button type="submit" id="registration-button" class="sub-button">
        <p class="text-registration text_roboto-bold">Зарегистрироваться</p>
  </button>
</div>


