.profile-minicard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 24px;
  &__user-icon {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: solid 2px var(--color-main-100);
  }

  &__user-name {
    font-size: var(--text-size-10);
    text-align: center;
  }

  &__geoposition-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__geoposition-icon {
    width: 24px;
    height: 24px;
  }

  &__geoposition {
    font-size: var(--text-size-5);
  }

  &__contacts-container {
    text-align: center;
    margin-bottom: 24px;
  }

  &__contacts-header {
    font-size: var(--text-size-7);
    margin: 0;
    margin-bottom: 12px;
  }

  &__contacts {
    font-size: var(--text-size-5);
    line-height: 1.5;
  }
}
