<main class='registration-page'>
  <section class='registration-container registration-page__registration-container'>
    <header class='registration-container__header'>
      <h2 class='registration-container__header-text text_roboto-light'>Регистрация</h2>
    </header>
    {{> ../../Components/FormInputs/UserTypeRadiogroup/user-type-radiogroup.hbs elementClass="registration-container__user-type-radiogroup"}}
    {{> ../../Components/ApplicantRegistrationForm/applicant-registration-form.hbs elementClass="registration-container__applicant-registration-form"}}
    {{> ../../Components/EmployerRegistrationForm/employer-registration-form.hbs elementClass="registration-container__employer-registration-form"}}
    <div class="registration-container__button-container">
      <button type='submit' form='applicant-registration-form' class='registration-container__submit-button button button_main-primary'>
        Зарегистрироваться
      </button>
      <a class='registration-container__back-button button button_main-tertiary' href='{{url "vacancies" ""}}'>На главную</a>
    </div>
  </section>
</main>