<div class='{{elementClass}} frame-series'>
  <nav class='frame-series__frame-selector frame-selector'>
  </nav>
  <div class='frame-series__divider'></div>
  <div class='frame-series__frame-container frame-container'>
  </div>
</div>