<div class='{{elementClass}} profile-minicard'>
  <img class='profile-minicard__user-icon' src='{{static "img/user-icon-80.svg"}}' />
  <div class='profile-minicard__user-name'></div>
  <div class='profile-minicard__geoposition-container'>
    <img class='profile-minicard__geoposition-icon' src='{{static "img/geoposition-icon.svg"}}' />
    <span class='profile-minicard__geoposition'></span>
  </div>
  <div class='profile-minicard__contacts-container'>
    <h3 class='profile-minicard__contacts-header'>Контакты</h3>
    <div class='profile-minicard__contacts'>
    </div>
  </div>
</div>