.search-bar {
  display: flex;
  flex-direction: row;

  &_theme-main {
    background-color: var(--color-main-100);
  }

  &__search-icon {
    padding: 8px;
    width: 16px;
    border: none;
  }

  &__clear-icon {
    padding: 8px;
    width: 16px;
    height: 16px;
    border: none;
  }

  &__input {
    display: inline-block;
    background-color: inherit;
    border: none;
    width: 100%;
    border-radius: 25px;
    font-size: var(--text-size-3);
    outline: none;
  }
}
