<div class="{{elementClass}} search-container search-container_theme-inside-ruler">
  <h3 class="search-container__header">Поиск</h3>
  <form class="search-container__search-bar search-bar search-bar_theme-main" id="search-form" novalidate>
    <img class="search-bar__search-icon" src="{{searchIcon}}"/>
    <input class="search-bar__input" type="text"/>
    <img class="search-bar__clear-icon hidden" src="{{clearIcon}}"/>
  </form>
</div>