<div>
  {{> header}}
  <div class="vacancy-page">
    <div class="vacancy-page__left-column">
    {{#if isApplicant}}
    {{> profile-minicard elementClass="vacancy-page__profile-minicard"}}
    {{/if}}
    </div>
    <main class="vacancy-page__vacancy-container">
    </main>
  </div>
</div>