<div>
  {{> ../../Components/Header/header.hbs}}
  <div class="vacancy-page">
    <div class="vacancy-page__left-column">
    {{#unless isEmployer}}
    {{> ../../Components/ProfileMinicard/profile-minicard.hbs elementClass="vacancy-page__profile-minicard"}}
    {{/unless}}
    </div>
    <main class="vacancy-page__vacancy-container">
    </main>
  </div>
</div>