<main class="login-page">
  <section class="login-container login-page__login-container">
    <header class="login-container__header">
      <h2 class="login-container__header-text text_roboto-light">Вход в аккаунт</h2>
    </header>  
    {{> login-form elementClass="login-container__login-form"}}
  </section>
</main>
