.button {
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-size: var(--text-size-4);
  font-weight: 700;
  font-style: normal;
}

.button_main-primary {
  background-color: var(--color-main-400);
  color: var(--color-background-900);
  border-radius: 14px;
}

.button_main-secondary {
  background-color: transparent;
  color: var(--color-main-300);
  border-color: var(--color-main-300);
  border: solid 2px;
  border-radius: 14px;
}

.button_main-tertiary {
  background-color: transparent;
  color: var(--color-main-300);
  border: none;
  font-weight: var(--text-weight-regular);
}

.button_danger-primary {
  background-color: var(--color-secondary-support-500);
  color: var(--color-secondary-support-100);
  border-radius: 14px;
}

.button_danger-secondary {
  background-color: transparent;
  border: solid 2px;
  border-color: var(--color-secondary-support-500);
  color: var(--color-secondary-support-500);
  border-radius: 14px;
}

.button_danger-tertiary {
  background-color: transparent;
  border: none;
  color: var(--color-secondary-support-500);
  font-weight: var(--text-weight-regular);
}

.button_color-danger {
  background-color: var(--color-);
}