.cv-page {
  display: grid;
  align-items: start;
  margin: auto;
  width: 1280px;
  padding-top: 32px;
  grid-template-columns: 1fr 3fr;
}

.cv-page__profile-minicard {
  background-color: var(--color-background-900);
  border-radius: 25px;
  padding: 16px 36px;
  color: var(--color-main-100);
}

.cv-page__cv-container {
  margin-left: 32px;
  border-radius: 25px;
  background-color: var(--color-background-900);
}

/* Vacancy article */

.cv-article {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cv-article__header-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 32px;
}

.cv-article__cv-picture {
  width: 128px;
  height: 128px;
}

.cv-article__header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: var(--color-main-100);
}

.cv-article__description {
  padding: 0 32px;
  font-size: var(--text-size-5);
  line-height: 1.5;
  color: var(--color-main-100);
  margin-bottom: 32px;
}

.cv-article__working-experience {
  padding: 0px 32px;
  font-size: var(--text-size-5);
  line-height: 1.5;
  color: var(--color-main-100);
}

.cv-article__another-button {
  margin-right: 10px;
  box-shadow: none;
  padding: 10px 20px;
}

.cv-article__created-at {
  color: var(--color-main-100);
  opacity: 0.7;
  text-decoration: none;
  text-transform: lowercase;
}

.cv-article_theme-dark {
  background-color: var(--color-background-800);
  color: var(--color-main-100);
}

.cv-article__divider {
  display: inline-block;
  background-color: var(--color-background-100);
  opacity: 0.3;
  height: 1px;
  width: 100%;
}

.cv-article__button-container {
  display: flex;
  align-items: baseline;
  gap: 8px;
  padding: 32px 32px;
  justify-content: start;
}

.cv-article__header-text {
  font-size: var(--text-size-10);
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 8px;
}

.cv-article__job-search-status {
  box-sizing: border-box;
}

.cv-article__description-header {
  font-size: var(--text-size-9);
  color: var(--color-main-100);
  padding: 0 32px;
}

.cv-article__working-experience-header {
  font-size: var(--text-size-9);
  color: var(--color-main-100);
  padding: 0 32px;
}
