.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-page__login-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: var(--color-background-900);
}

.login-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.login-container__header {
  margin-top: 0px;
  text-align: center;
  color: white;
}

.login-container__login-form {
  margin-bottom: 10px;
}

.login-form__button-container {
  gap: 10px;
  flex-wrap:wrap;
  align-items: baseline;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form__error {
  margin-bottom: 20px;
  color: #aa0000;
}

.login-form__user-type-radiogroup {
  margin-bottom: 20px;
}

.login-form__email {
  margin-bottom: 10px;
}

.login-form__password {
  margin-bottom: 20px;
}
