.registration-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.registration-page__registration-container {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  box-sizing: border-box;
  background-color: var(--color-background-900);
}

.registration-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.registration-container__header {
  margin-top: 0px;
  text-align: center;
  color: white;
}

.registration-container__button-container {
  display: flex;
  align-items: baseline;
}

.registration-container__applicant-registration-form {
  margin-bottom: 10px;
}

.applicant-registration-form {
  display: flex;
  flex-direction: column;
}

.applicant-registration-form__first-name {
  margin-bottom: 10px;
}

.applicant-registration-form__second-name {
  margin-bottom: 20px;
}

.applicant-registration-form__birthdate {
  margin-bottom: 20px;
}

.applicant-registration-form__email {
  margin-bottom: 10px;
}

.applicant-registration-form__password {
  margin-bottom: 10px;
}

.applicant-registration-form__repeat-password {
  margin-bottom: 20px;
}

.applicant-registration-form__error {
  margin-bottom: 10px;
  color: var(--color-secondary-support-500);
}

.registration-container__user-type-radiogroup {
  margin-bottom: 20px;
}

.registration-container__submit-button {
  margin-bottom: 10px;
}

.registration-container__employer-registration-form {
  margin-bottom: 10px;
}

.employer-registration-form {
  display: flex;
  flex-direction: column;
}

.employer-registration-form__first-name {
  margin-bottom: 10px;
}

.employer-registration-form__second-name {
  margin-bottom: 20px;
}

.employer-registration-form__position {
  margin-bottom: 10px;
}

.employer-registration-form__company-name {
  margin-bottom: 10px;
}

.employer-registration-form__company-description {
  margin-bottom: 10px;
}

.employer-registration-form__company-description-textarea {
  resize: vertical;
}

.employer-registration-form__website {
  margin-bottom: 20px;
}

.employer-registration-form__email {
  margin-bottom: 10px;
}

.employer-registration-form__password {
  margin-bottom: 10px;
}

.employer-registration-form__repeat-password {
  margin-bottom: 20px;
}

.employer-registration-form__error {
  margin-bottom: 10px;
  color: #aa0000;
}
