.main-block {
  width: 25%;
  display: block;
  margin: 2% auto 20% auto;
  align-items: center;
}

.input-elem {
  width: 98%;
  height: 36px;
  display: block;
  margin: 8px auto;
  border-radius: 4px;
}

.sub-button-registration {
  display: block;
  margin: auto;
}

.registration-h1 {
  margin-top: 20px;
  text-align: center;
}

.registration-page {
  display: flex;
  background-color: var(--grey-very-dark);
}
body {
  padding: 0;
  margin: 0;
}

.registration-in {
  border-radius: 20px;
  padding: 16px;
}

.user-type-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.user-type-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

/* Стили для меток радиокнопок */
.user-type-label {
  padding: 16px; /* Отступы внутри кнопок */
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  font-weight: bold;
}

input[type='radio'] {
  display: none; /* Скрываем стандартные радиокнопки */
}

input[type='radio']:checked + .user-type-label {
  background-color: #6af6f8; /* Цвет активной кнопки */
  color: #fff;
  border-color: #2bd4e3;
}

.user-type-label:hover {
  background-color: #f0f0f0;
  border-color: #888;
  color: black;
}

/* .sub-button{ может этот вариант лучше
  cursor: pointer;
  display: flex;
  margin: 15px auto;
  background-color: #2bd4e3;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
} */

.sub-button {
  width: 100%;
  margin: 15px auto;
  padding: 10px;
  background-color: #596d6c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sub-button:hover {
  background-color: #53dcd4;
}
.text-registration {
  margin: auto;
}

/* Всплывающее уведомление */
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /*элемент будет смещён влево на 50% от его собственной ширины*/
  background-color: #ff4c4c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none; /* Скрыто по умолчанию, функция будет делать видимым, display:block */
  z-index: 1000; /* поверх других элементов*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.labels {
  display: block;
  margin-top: 4px;
}

/* Стили для текстового поля */
.company-description-textarea {
  resize: vertical;
  height: 3em;
}

