.vacancies-page {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin: auto;
  width: 1280px;
  gap: 100px;
  align-self: center;
  background-color: var(
    --color-background-1000
  ); /* for some reason variable for body resolved only here */
  color: var(--color-main-100);
}

.vacancies-page__side-column {
  border-radius: 25px;
  padding: 12px;
  width: 20%;
}

.vacancies-page__content {
  width: 70%;
  border-radius: 25px;
  padding: 20px;
}

/* Abstract content-body component*/

.content-body {
  display: flex;
  flex-direction: column;
}

.content-body__header {
  margin-top: 5px;
  margin-bottom: 15px;
}

.content-body__vacancy-container {
  border-radius: 10px;
}

.content-body_theme-dark {
  background-color: var(--color-background-900);
  color: var(--color-main-100);
}

/* Vacancy-container component */
.vacancy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacancy-container__vacancy-card {
  width: 90%;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 14px;
}

/* vacancy-card component */

.vacancy-card {
  display: flex;
  flex-direction: column;
}

.vacancy-card__header-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.vacancy-card__company-picture {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  border: solid 1px;
}

.vacancy-card__header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 20px;
}

.vacancy-card__header-link {
  text-decoration: none;
  color: var(--color-main-100);
}

.vacancy-card__bookmark-icon {
  margin-left: auto;
  width: 25px;
  height: 25px;
}

.vacancy-card__description {
  margin: 10px 0;
  font-size: var(--text-size-5);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.vacancy-card__footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
}

.vacancy-card__apply-button {
  margin-right: 10px;
  box-shadow: none;
  border: none;
  padding: 4px 12px;
}

.vacancy-card__created-at {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-transform: lowercase;
}

.vacancy-card_theme-dark {
  background-color: var(--color-background-800);
  color: var(--color-main-100);
}
