<header class='header text_roboto-light'>
  <div class='menu'></div>
  <div class='search'>
    <div class='search__location'>
      <img class='search__location-icon' src='public/img/location_icon.svg' />
      <div class='search__location-text text_roboto-light'>Moscow</div>
    </div>
    <div class='search__form'>
      <input class='search__field text-light' placeholder='Search' />
      <div class='search__button' type='submit'></div>
    </div>
  </div>
  <div class='user'>
    <img class='user__avatar' src='public/img/user_icon.svg' />
  </div>
</header>