<form class="{{elementClass}} applicant-registration-form" id="applicant-registration-form" method='POST' novalidate>
  {{> validated-input formName="applicant-registration-form" elementName="first-name" inputName="firstName" inputCaption="Имя" inputType="text"}}
  {{> validated-input formName="applicant-registration-form" elementName="second-name" inputName="secondName" inputCaption="Фамилия" inputType="text"}}
  {{> validated-input formName="applicant-registration-form" elementName="birthdate" inputName="birthDate" inputCaption="Дата Рождения" inputType="date"}}
  {{> validated-input formName="applicant-registration-form" elementName="email" inputName="email" inputCaption="Электронная почта" inputType="email"}}
  {{> validated-input formName="applicant-registration-form" elementName="password" inputName="password" inputCaption="Пароль" inputType="password"}}
  {{> validated-input formName="applicant-registration-form" elementName="repeat-password" inputName="repeatPassword" inputCaption="Повторите пароль" inputType="password"}}
</form>