<form class="{{elementClass}} applicant-registration-form" id="applicant-registration-form" method='POST' novalidate>
  <div class="applicant-registration-form__error text_roboto-regular" hidden></div>
  {{> validated-input elementClass="applicant-registration-form__first-name" inputName="firstName" inputCaption="Имя" inputType="text"}}
  {{> validated-input elementClass="applicant-registration-form__second-name" inputName="secondName" inputCaption="Фамилия" inputType="text"}}
  {{> validated-input elementClass="applicant-registration-form__birthdate" inputName="birthDate" inputCaption="Дата Рождения" inputType="date"}}
  {{> validated-input elementClass="applicant-registration-form__email" inputName="email" inputCaption="Электронная почта" inputType="email"}}
  {{> validated-input elementClass="applicant-registration-form__password" inputName="password" inputCaption="Пароль" inputType="password"}}
  {{> validated-input elementClass="applicant-registration-form__repeat-password" inputName="repeatPassword" inputCaption="Повторите пароль" inputType="password"}}
</form>