<div>
  {{> header}}
  <div class="vacancy-page-edit">
    <main class="vacancy-page-edit__form-container">
    <h1 class="vacancy-page-edit__header">{{#if isNew}}Создание{{else}}Редактирование{{/if}} вакансии</h1>
    </main>
  </div>
</div>