<div class="vacancy-article__button-container">
{{#if isApplicant}}
    <button type="button" class="vacancy-article__apply-button button button_main-primary hidden" >Откликнуться</button>
    <button type="button" class="vacancy-article__reset-apply-button button button_danger-primary hidden" >Отменить отклик</button>
    <a class="vacancy-article__apply-button button button_main-secondary" href="{{url "profile" ""}}?id={{ownerId}}&userType=employer&from=vacancyList">Другие вакансии</a>
{{else}}
    {{#if isOwner}}
        <button type="button" class="vacancy-article__edit-button button button_main-primary">Изменить</button>
        <button type="button" class="vacancy-article__delete-button button button_danger-secondary {
">Удалить</button>
    {{/if}}
{{/if}}
<div class='vacancy-article__created-at'></div>
</div>