.button {
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: var(--text-size-4);
  font-weight: 700;
  font-style: normal;
  border-radius: 14px;

  &_main-primary {
    background-color: var(--color-main-400);
    color: var(--color-background-900);
  }

  &_main-secondary {
    background-color: transparent;
    color: var(--color-main-300);
    border-color: var(--color-main-300);
    border: solid 2px;
  }

  &_main-tertiary {
    background-color: transparent;
    color: var(--color-main-300);
    border: none;
    font-weight: var(--text-weight-regular);
    padding: 0;
  }

  &_danger-primary {
    background-color: var(--color-secondary-support-500);
    color: var(--color-secondary-support-100);
  }

  &_danger-secondary {
    background-color: transparent;
    border: solid 2px;
    border-color: var(--color-secondary-support-500);
    color: var(--color-secondary-support-500);
  }

  &_danger-tertiary {
    background-color: transparent;
    border: none;
    color: var(--color-secondary-support-500);
    font-weight: var(--text-weight-regular);
    padding: 0;
  }

  &_color-danger {
    background-color: var(--color-);
  }
}

.pill {
  text-align: center;
  &_main {
    border-radius: 14px;
    padding: 4px 12px;
    background-color: var(--color-background-700);
  }
}
