.cv-page {
  display: grid;
  align-items: start;
  margin: auto;
  width: 1280px;
  padding-top: 32px;
  grid-template-columns: 1fr 3fr;

  &__profile-minicard {
    background-color: var(--color-background-900);
    border-radius: 25px;
    padding: 16px 36px;
    color: var(--color-main-100);
  }

  &__cv-container {
    margin-left: 32px;
    border-radius: 25px;
    background-color: var(--color-background-900);
  }
}

/* Vacancy article */

.cv-article {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__header-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 32px;
  }

  &__cv-picture {
    width: 128px;
    height: 128px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--color-main-100);
  }

  &__description {
    padding: 0 32px;
    font-size: var(--text-size-5);
    line-height: 1.5;
    color: var(--color-main-100);
    margin-bottom: 32px;
  }

  &__working-experience {
    padding: 0px 32px;
    font-size: var(--text-size-5);
    line-height: 1.5;
    color: var(--color-main-100);
  }

  &__another-button {
    margin-right: 10px;
    box-shadow: none;
    padding: 10px 20px;
  }

  &__created-at {
    color: var(--color-main-100);
    opacity: 0.7;
    text-decoration: none;
    text-transform: lowercase;
  }

  &__divider {
    display: inline-block;
    background-color: var(--color-background-100);
    opacity: 0.3;
    height: 1px;
    width: 100%;
  }

  &__button-container {
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 32px 32px;
    justify-content: start;
  }

  &_theme-dark {
    background-color: var(--color-background-800);
    color: var(--color-main-100);
  }

  &__header-text {
    font-size: var(--text-size-10);
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  &__job-search-status {
    box-sizing: border-box;
  }

  &__description-header {
    font-size: var(--text-size-9);
    color: var(--color-main-100);
    padding: 0 32px;
  }

  &__working-experience-header {
    font-size: var(--text-size-9);
    color: var(--color-main-100);
    padding: 0 32px;
  }
}

/* Cv Edit Page */

.cv-page-edit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;

  &__form-container {
    margin: 32px 0;
    padding: 20px;
    border-radius: 14px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background-color: var(--color-background-900);
  }

  &__description-header {
    font-size: var(--text-size-8);
    color: var(--color-main-100);
    text-align: center;
  }
}

/* Cv Form */

.cv-form {
  &__position-ru {
    margin-bottom: 10px;
  }

  &__position-en {
    margin-bottom: 10px;
  }

  &__job-search-status {
    margin-bottom: 10px;
  }

  &__working-experience {
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 10px;
  }

  &__description-textarea {
    resize: vertical;
  }

  &__working-experience-textarea {
    resize: vertical;
  }

  &__button-container {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }
}
