/* Validated textarea component */

.validated-textarea {
  display: flex;
  flex-direction: column;
  &__label {
    margin-bottom: 5px;
  }

  &__textarea {
    padding: 8px;
    background-color: var(--color-background-600);
    color: var(--color-main-100);
    border: none;
    border-radius: 4px;
  }

  &__textarea_disabled {
    resize: none !important;
    background-color: rgba(0, 0, 0, 0);
  }

  &__error {
    margin-top: 10px;
    color: var(--color-secondary-support-500);
  }
}
