.profile-page {
  display: grid;
  margin: auto;
  width: 1280px;
  padding-top: 32px;
  grid-template-columns: 1fr 3fr;
  &__profile-minicard {
    background-color: var(--color-background-900);
    border-radius: 25px;
    padding: 16px 36px;
    color: var(--color-main-100);
  }
  &__frame-series {
    margin-left: 32px;
  }
}

/* Profile minicard */

.profile-minicard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  &__user-icon {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: solid 2px var(--color-main-100);
  }

  &__user-name {
    font-size: var(--text-size-10);
    text-align: center;
  }

  &__geoposition-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__geoposition-icon {
    width: 24px;
    height: 24px;
  }

  &__geoposition {
    font-size: var(--text-size-5);
  }

  &__contacts-container {
    text-align: center;
    margin-bottom: 24px;
  }

  &__contacts-header {
    font-size: var(--text-size-7);
    margin: 0;
    margin-bottom: 12px;
  }

  &__contacts {
    font-size: var(--text-size-5);
    line-height: 1.5;
  }
}

/* Profile form */

.applicant-profile-form {
  &__validated-input {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__validated-textarea {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__contacts-textarea {
    resize: vertical;
  }

  &__education-textarea {
    resize: vertical;
  }
}

.employer-profile-form {
  &__validated-input {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__validated-textarea {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__contacts-textarea {
    resize: vertical;
  }
}

.profile-page {
  &__vacancies-list {
    min-height: 400px;
  }

  &__portfolio-list {
    min-height: 400px;
  }

  &__cv-list {
    min-height: 400px;
  }
}
