/* Profile form */

.applicant-profile-form {
  &__validated-input {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__validated-textarea {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__contacts-textarea {
    resize: vertical;
  }

  &__education-textarea {
    resize: vertical;
  }
}

.employer-profile-form {
  &__validated-input {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__validated-textarea {
    display: grid;
    grid-template-columns: 1fr 300px 2fr;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__contacts-textarea {
    resize: vertical;
  }
}

.profile-page {
  &__vacancies-list {
    min-height: 400px;
  }

  &__portfolio-list {
    min-height: 400px;
  }

  &__cv-list {
    min-height: 400px;
  }
}
