/* Vacancy Edit Page */

.vacancy-page-edit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  &__form-container {
    margin: 32px 0;
    padding: 20px;
    border-radius: 14px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background-color: var(--color-background-900);
  }

  &__header {
    font-size: var(--text-size-8);
    color: var(--color-main-100);
    text-align: center;
  }
}

/* Vacancy Form */

.vacancy-form {
  &__position {
    margin-bottom: 10px;
  }

  &__salary {
    margin-bottom: 10px;
  }

  &__work-type {
    margin-bottom: 10px;
  }

  &__location {
    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__description-textarea {
    resize: vertical;
  }

  &__group {
    margin-bottom: 20px;
  }

  &__group-select {
    background-color: var(--color-background-600);
    color: var(--color-main-100);
  }

  &__button-container {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }
}
