.vacancy-page {
  display: grid;
  align-items: start;
  margin: auto;
  width: 1280px;
  padding-top: 32px;
  grid-template-columns: 1fr 3fr;
  &__profile-minicard {
    background-color: var(--color-background-900);
    border-radius: 25px;
    padding: 16px 36px;
    color: var(--color-main-100);
  }

  &__vacancy-container {
    margin-left: 32px;
    border-radius: 25px;
    background-color: var(--color-background-900);
  }
}

/* Vacancy article */

.vacancy-article {
  display: flex;
  flex-direction: column;
  align-items: start;
  &__header-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 32px;
  }

  &__company-picture {
    width: 128px;
    height: 128px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 20px;
  }

  &__description {
    padding: 32px 32px 0px 32px;
    font-size: var(--text-size-5);
    line-height: 1.5;
    color: var(--color-main-100);
  }

  &__footer {
    margin-top: 10px;
  }

  &__apply-button {
    margin-right: 10px;
    box-shadow: none;
    padding: 10px 20px;
  }

  &__reset-apply-button {
    margin-right: 10px;
    box-shadow: none;
    padding: 10px 20px;
  }

  &__created-at {
    color: var(--color-main-100);
    opacity: 0.7;
    text-decoration: none;
    text-transform: lowercase;
  }

  &_theme-dark {
    background-color: var(--color-background-800);
    color: var(--color-main-100);
  }

  &__divider {
    display: inline-block;
    background-color: var(--color-background-100);
    opacity: 0.3;
    height: 1px;
    width: 100%;
  }

  &__button-container {
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 32px 32px;
    justify-content: start;
  }
}

/* vacancy-summary component */

.vacancy-summary {
  display: flex;
  flex-direction: column;
  color: var(--color-main-100);
  &__header {
    font-size: var(--text-size-10);
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  &__company-name {
    font-size: var(--text-size-5);
    margin-bottom: 8px;
  }

  &__salary {
    font-size: var(--text-size-4);
    margin-right: 20px;
  }

  &__appliers-list {
    border-radius: 25px;
    padding: 24px 0px;
    background-color: var(--color-background-900);
    color: var(--color-main-100);
    font-size: var(--text-size-5);
  }
}

/* Appliers list */

.appliers-list__header {
  margin: 0;
  padding: 0 24px;
  font-size: var(--text-size-9);
  &__divider {
    margin: 12px 0px;
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background-color: var(--color-main-100);
  }

  &__list {
    margin: 0;
    line-height: 1.5;
  }

  &__list-item {
    color: var(--color-main-200);
  }
}

/* Vacancy Edit Page */

.vacancy-page-edit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  &__form-container {
    margin-top: 32px;
    padding: 20px;
    border-radius: 14px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background-color: var(--color-background-900);
  }

  &__header {
    font-size: var(--text-size-8);
    color: var(--color-main-100);
    text-align: center;
  }
}

/* Vacancy Form */

.vacancy-form {
  &__position {
    margin-bottom: 10px;
  }

  &__salary {
    margin-bottom: 10px;
  }

  &__work-type {
    margin-bottom: 10px;
  }

  &__location {
    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__description-textarea {
    resize: vertical;
  }

  &__button-container {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }
}
