.vacancies-page {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 30px;
  row-gap: 16px;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin: auto;
  width: 1280px;
  align-self: center;
  background-color: var(--color-background-1000);
  color: var(--color-main-100);
  &__side-column {
    border-radius: 25px;
    padding: 12px;
    grid-column: 1 / 4;
  }

  &__content {
    border-radius: 25px;
    padding: 20px;
    grid-column: 4 / span 9;
  }

  &__search-container {
    grid-column: span 12;
  }
}

/* Abstract content-body component*/

.content-body {
  display: flex;
  flex-direction: column;
  &__header {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  &__vacancy-container {
    border-radius: 10px;
  }

  &_theme-dark {
    background-color: var(--color-background-900);
    color: var(--color-main-100);
  }
}

/* Vacancy-container component */
.vacancy-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &__vacancy-card {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 14px;
  }
}

/* vacancy-card component */

.vacancy-card {
  display: flex;
  flex-direction: column;
  &__header-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  &__company-picture {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border: solid 1px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 20px;
  }

  &__header-link {
    text-decoration: none;
    color: var(--color-main-100);
  }

  &__bookmark-icon {
    margin-left: auto;
    width: 25px;
    height: 25px;
  }

  &__description {
    margin: 10px 0;
    font-size: var(--text-size-5);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
  }

  &__apply-button {
    margin-right: 10px;
    box-shadow: none;
    border: none;
    padding: 4px 12px;
  }

  &__created-at {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-transform: lowercase;
  }

  &_theme-dark {
    background-color: var(--color-background-800);
    color: var(--color-main-100);
  }
}
