<article class="{{elementClass}} cv-article">
  <div class='cv-article__header-container'>
    <div class='cv-article__header'>
      <h1 class='cv-article__header-text'></h1>
      <div><span class="cv-article__job-search-status pill pill_main"></span></div>
    </div>
  </div>
  <div class="cv-article__divider"></div>
  <h2 class='cv-article__description-header'>Описание и достижения</h2>
  <div class='cv-article__description'></div>
  <div class="cv-article__divider"></div>
  <h2 class='cv-article__working-experience-header'>Опыт работы</h2>
  <div class='cv-article__working-experience'></div>
</article>