<label for="worker-name" class="labels text_roboto-bold">Имя</label>
<input id="worker-name" placeholder="Имя" class="input-elem text_roboto-light" />

<label for="worker-lastname" class="labels text_roboto-bold">Фамилия</label>
<input id="worker-lastname" placeholder="Фамилия" class="input-elem text_roboto-light" />

<label for="worker-birthdate" class="labels text_roboto-bold">Дата рождения</label>
<input type="date" id="worker-birthdate" class="input-elem text_roboto-light" />

<label for="worker-email" class="labels text_roboto-bold">Email</label>
<input type="email" id="worker-email" placeholder="Email" class="input-elem text_roboto-light" />

<label for="worker-password" class="labels text_roboto-bold">Пароль</label>
<input type="password" id="worker-password" placeholder="Пароль" class="input-elem text_roboto-light" />
