<div id="employer-input" style="display: none;">    
      
    <!-- Блок ввода имени работодателя -->
    <div class='block form-group'>
        <label for='employer-name' class='text_roboto-regular'>Имя</label>
        <input type='text' id='employer-name' name='employer_name' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода фамилии работодателя -->
    <div class='block form-group'>
        <label for='employer-lastname' class='text_roboto-regular'>Фамилия</label>
        <input type='text' id='employer-lastname' name='employer_lastname' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода должности -->
    <div class='block form-group'>
        <label for='employer-position' class='text_roboto-regular'>Должность</label>
        <input type='text' id='employer-position' name='employer_position' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода названия компании -->
    <div class='block form-group'>
        <label for='company-name' class='text_roboto-regular'>Компания</label>
        <input type='text' id='company-name' name='company_name' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода описания компании -->
    <div class='block form-group'>
        <label for='company-description' class='text_roboto-regular'>Описание Компании</label>
        <textarea id='company-description' name='company_description' required class='input-elem text_roboto-light company-description-textarea'></textarea>
    </div>
   
    <!-- Блок ввода сайта компании -->
    <div class='block form-group'>
        <label for='website' class='text_roboto-regular'>Вебсайт</label>
        <input type='text' id='website' name='website' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода email работодателя -->
    <div class='block form-group'>
        <label for='employer-email' class='text_roboto-regular'>Почта</label>
        <input type='email' id='employer-email' name='employer_email' required class='input-elem text_roboto-light' />
    </div>

    <!-- Блок ввода пароля работодателя -->
    <div class='block form-group'>
        <label for='employer-password' class='text_roboto-regular'>Пароль</label>
        <input type='password' id='employer-password' name='employer_password' required class='input-elem text_roboto-light' />
    </div>
</div>