<form class="{{elementClass}} employer-profile-form" id="employer-profile-form" method="POST" novalidate>
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="employer-profile-form" elementName="first-name" inputName="firstName" inputCaption="Имя" inputType="text"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="employer-profile-form" elementName="second-name" inputName="secondName" inputCaption="Фамилия" inputType="text"}}
    {{> ../FormInputs/ValidatedInput/validated-input.hbs formName="employer-profile-form" elementName="city" inputName="city" inputCaption="Город" inputType="text"}}
    {{> ../FormInputs/ValidatedTextArea/validated-textarea.hbs formName="employer-profile-form" elementName="contacts" inputName="contacts" inputCaption="Контакты"}}
</form>