<form class="{{elementClass}} employer-profile-form" id="employer-profile-form" method="POST" novalidate>
    {{> validated-input formName="employer-profile-form" elementName="first-name" inputName="firstName" inputCaption="Имя" inputType="text"}}
    {{> validated-input formName="employer-profile-form" elementName="second-name" inputName="secondName" inputCaption="Фамилия" inputType="text"}}
    {{> validated-input formName="employer-profile-form" elementName="city" inputName="city" inputCaption="Город" inputType="text"}}
    {{> validated-textarea formName="employer-profile-form" elementName="contacts" inputName="contacts" inputCaption="Контакты"}}
</form>