.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: var(--12-col);
  margin: 0 16px;
  background-color: var(--color-background-800);

  &__logo {
    color: var(--color-background-900);
    background-color: var(--color-background-100);
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 16px;
    font-size: var(--text-size-9);
  }

  &__not-authorized-container {
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
  }

  &__authorized-container {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    gap: 32px;
  }

  &__menu-open-button {
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
  }

  &__menu-open-button:hover {
    background-color: var(--color-background-600);
  }

  &__user-avatar {
    width: 48px;
    height: 48px;
  }

  &__notifications {
    position: relative;
  }
  &__notification-button {
    width: 36px;
    height: 36px;
    &:hover {
      background-color: var(--color-background-600);
      border-radius: var(--radius-xs);
    }
  }

  &__notify-dropdown {
    position: absolute;
    top: calc(50% + 30px);
    right: 0%;
    background-color: var(--color-background-700);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: var(--text-size-5);
  }

  &__dropdown {
    position: absolute;
    top: calc(50% + 30px);
    right: 0;
    background-color: var(--color-background-700);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: var(--text-size-5);
  }

  &__user-info {
    padding: 0px 8px;
  }

  &__user-type {
    margin-top: 8px;
    color: var(--color-support-300);
  }

  &__dropdown-separator {
    width: 100%;
    background-color: var(--color-background-200);
    opacity: 0.5;
    height: 1px;
    margin: 4px 0;
  }
}

/* Menu component */

.menu {
  display: flex;
  flex-direction: column;
  &__element {
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 14px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    &:hover {
      background-color: var(--color-background-600);
    }
  }

  &__element-icon {
    width: 20px;
    height: 20px;
  }
}
